.header, .footer{
    background-color: #EBEBEB;
    border: 1px solid #EE6767;
    font-size: xx-large;
    left: 10%;
    position: relative;
    width: 80%;
    float:left;
}


.blogDisplayPanel {
    background-color: #EBEBEB;
    border: 1px solid #EE6767;
    left: 10%;
    position: relative;
    width: 78%;
    float:left;
    padding:10px;
}

.spanLink{color:#0075CE;cursor:pointer;} .spanLink:hover{ text-decoration:underline;}.spanLinkDisabled{color:#ccc;text-decoration:none;cursor:auto;}

.box {
	padding: 10px; 
	width: 200px; 
	border: 2px solid brown;
	float: left
}