.header, .footer{
    background: none repeat scroll 0 0 activeborder;
    border: 1px solid #EE6767;
    font-size: xx-large;
    left: 10%;
    position: relative;
    width: 80%;
    float:left;
}

.navigator {
    background: none repeat scroll 0 0 activeborder;
    border: 1px solid #EE6767;
    left: 10%;
    position: relative;
    width: 19%;
    float:left;
    height:400px;
    padding:0.5%
}

.blogDisplayPanel {
    background: none repeat scroll 0 0 activeborder;
    border: 1px solid #EE6767;
    left: 10%;
    position: relative;
    width: 56%;
    float:left;
    height:380px;
    padding:2%;
}

.spanLink{color:#0075CE;cursor:pointer;} .spanLink:hover{ text-decoration:underline;}.spanLinkDisabled{color:#ccc;text-decoration:none;cursor:auto;}

